        body{
            color:red;
            background-color: black;
        }
        .Error_09310{
            font-size: 21px;
            font-family:'Courier New', Courier, monospace;
            text-shadow: 5px 2px 4px red;
        }
        .Unauthorized1{
            font-size: 18px;
        }
        .Unauthorized2{
            font-size: 19px;
        }
        span.Unauthorized3{
            vertical-align: super;
        }
        .UnauthorizedIP{
            font-size: 18px;
        }
        .copyright{
            vertical-align: bottom;
            text-align: right;
        }
        .Secret_1{
            color: black;
            background-color: black;
            font-size: 10px;
            font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            letter-spacing: 2.5px;
        }
        .Tracking_Ip{
            font-size: 18px;
        }
        .Test{
            background-color: black;
            color: black;
            vertical-align: bottom;
            text-align: left;
        }
        a:link{
            text-decoration: none;
            color: black;
        }    